* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* /part 5 Our Teams/ */
.part5 {
  margin-top: 100px;
  flex-wrap: wrap;
}
.part5 .üst {
  width: 500px;
  text-align: center;
  margin: auto;
}
.part5 .üst .baslik {
  font-size: 72px;
  font-weight: 700px;
  font-family: "Raleway", sans-serif;
}
.part5 .üst p {
  font-family: "Open Sans", sans-serif;
  line-height: 25.6px;
}
.our {
  height: 766.562px;
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 10px 2rem;
  flex-wrap: wrap;
}
.our .who {
  width: 450px;
  height: 450.938px;
  /* border: solid 1px red; */
  margin-top: 40px;
  border-radius: 25%;
  padding: 3rem 2rem;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  line-height: 35.2px;
}
.our .who .ndr {
  display: flex;
  justify-content: center;
  gap: 1rem 2rem;
  font-size: 20px;
}
.our img {
  width: 110px;
  border: 7px solid white;
  border-radius: 50%;
}
.our .ceo {
  background-color: #29332c;
  color: #ffffff;
}
.our .director {
  background-color: #bdb285;
  color: #ffffff;
}
.our .Manager {
  background-color: #4f6054;
  color: #ffffff;
}
.part5 h3 {
  font-size: 16px;
}
/* part 5 end */
/* Part 6 Network and Communications Sinan Sarikaya  */
.part6 {
  width: 100%;
  padding: 50px 0;
  /* height: 100vh; */
  background-color: #29332c;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.part6 .svg-box {
  width: 50vw;
  height: 40vh;
  position: relative;
  top: 50px;
  left: 150px;
}
.part6 .svg-box .svgImg {
  object-fit: cover;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  width: 70%;
  left: 50px;
  z-index: 1;
}
.part6 .svg-box .svg {
  position: absolute;
}
.part6 .svg-box .firstSvg {
  fill: #4f6054;
  width: 100%;
  left: 100px;
}
.part6 .svg-box .secondSvg {
  left: 0;
  width: 90%;
  fill: #bdb285;
}
.part6 .network-section {
  width: 70%;
  height: 100%;
  z-index: 1;
}
.part6 .network-article {
  background-color: #fff;
  color: #4f6054;
  width: 555px;
  height: 520px;
  border-radius: 50px;
  padding: 30px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.part6 .network-article .network-title {
  font-size: 3rem;
  font-family: "Raleway", sans-serif;
  color: #4f6054;
  font-weight: 700;
}
.part6 .network-article .network-description {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  line-height: 2rem;
  color: #111;
}
.part6 .network-article .network-button {
  background-color: #bdb285;
  padding: 15px 51px;
  outline: none;
  border: 0;
  border-radius: 50px;
  color: #fff;
  font-weight: 500;
  align-self: flex-start;
}
/* Part 6 End  */

/*Part 9 About Our Goals START*/
.part9 {
  width: 100%;
}
.part9 .main-container {
  min-height: 80vh;
  max-width: 100%;
  background-image: url(../img/pexels-photo-4307641.jpeg);
  background-size: cover;
  background-position: center;
}
.part9 .main-container .text-wrapper {
  margin: 0 20% 0 40%;
  text-align: right;
  font-family: "Open Sans", sans-serif;
}
/*Icon classname belongs <i> element too*/
.part9 .main-container .text-wrapper .icon {
  margin-top: 10%;
  font-size: 5rem;
  animation: iconExpand 2s ease;
}
.part9 .main-container .text-wrapper .text {
  color: #fff;
}
.part9 .main-container .text-wrapper .text-1 {
  font-size: 2rem;
}
.part9 .main-container .text-wrapper .text-2 {
  margin-top: 2rem;
  font-size: 1rem;
}
.part9 .main-container .text-wrapper .animated {
  animation: slideFromLeft 2s ease, visibility 2s ease;
}
/* Mehmet: Part9 END */

/*??? SPAGHETTI has been written :))*/
/* Talha: Form part. The section before the footer. START */
.catchword-form {
  width: 100%;
  padding: 5vh 0;
}
.catchword-form .container {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}
.catchword-form .container .box,
.catchword-form .container .form-box {
  width: 48%;
  padding: 1.5rem;
}
.catchword-form .container .form-box {
  border-radius: 30px;
  background-color: #4f6054;
  color: #fff;
}
/* The following css block belongs to h3 heading. You can copy it. */
.catchword-form .container .box .box-title {
  font-size: 2.2rem;
  font-family: "Raleway", sans-serif;
  color: #4f6054;
  font-weight: 700;
}
.catchword-form .container .box .box-text,
.catchword-form .container .form-box form .label,
.catchword-form .container .form-box form .submit-button button {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
}
.catchword-form .container .box .box-text {
  line-height: 1.6;
  padding: 2rem 0;
}
.catchword-form .container .form-box .form-title {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  padding: 2rem 0;
  letter-spacing: 0.2rem;
  font-weight: 700;
}
/* The following 3 blocks belong to read more button in this page. You can copy paste it to your section. Be careful with class names! */
.catchword-form .container .box .read-more-button {
  margin: 1rem 0;
}
.catchword-form .container .box .read-more-button a {
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
  background-color: #bdb285;
  padding: 15px 51px 16px 50px;
  border-radius: 50px;
  text-decoration: none;
  color: #fff;
  border: none;
  outline: none;
  font-weight: bold;
}
.catchword-form .container .box .read-more-button a:hover {
  background-color: #4f6054;
}
.catchword-form .container .form-box form .input input,
.catchword-form .container .form-box form .input textarea {
  width: 100%;
  padding: 14px 12px;
  border-color: #f2f2f2;
  border-radius: 30px;
  color: #f2f2f2;
  outline: none;
  font-size: 1rem;
}
.catchword-form .container .form-box form .input,
.catchword-form .container .form-box form .checkbox {
  margin-bottom: 1.2rem;
}
.catchword-form .container .form-box form .input textarea {
  resize: none;
  height: 7rem;
}
.catchword-form .container .form-box form .checkbox label a,
.catchword-form .container .form-box form .checkbox label a:visited {
  color: #adcce9;
}
.catchword-form .container .form-box form .checkbox label a:hover {
  color: #a1a1a1;
}
.catchword-form .container .form-box form .submit-button {
  margin-bottom: 1.5rem;
}
.catchword-form .container .form-box form .submit-button button {
  width: 100%;
  background-color: #bdb285;
  color: #fff;
  padding: 15px 30px;
  border-radius: 30px;
  border: none;
  outline: none;
  font-weight: bold;
  font-size: 1.2rem;
}
.catchword-form .container .form-box form .submit-button button:hover {
  background-color: #fff;
  color: #4f6054;
}
/* Talha: Form part. The section before the footer. END */

/* Animation that slides texts */
@keyframes slideFromLeft {
  0% {
    transform: translateX(-300px);
  }
  100% {
    transform: translateX(0);
  }
}
/*animation for quotation mark*/
@keyframes iconExpand {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

/* Animation for text visibility*/
@keyframes visibility {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
